@{
    ViewData["Title"] = "Delivery List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var dateFormat = PDM.Helper.ConfigurationKeys.DateFormat;
}


@{
    <!-- Page Header -->
    <div class="py-4">
    </div>
    <!-- End Page Header -->
    <!-- Over view starts -->
    <div class="row">
        @Html.Partial("DeliveryOverviewPartial")
    </div>
    <!-- Over view End -->
    <!-- Over view End -->
    <div class="row">
        <div class="col">
            <div class="card card-small">
                <div class="card-body p-0 pb-3" id="divDeliveryList">
                </div>
            </div>
        </div>
    </div>

    <!-- Start Delivery List-->
    
    <script>
        $(document).ready(function () {

        });
    </script>

}

